/* styles.css */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.logo {
  font-size: 24px;
  font-weight: 600;
  color: #333;
}

.nav-center {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-center a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.search-bar {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 20x;
  font-size: 14px;
  width: 500px;
  background-color: aliceblue;
  gap: 15px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 18px;
}

.auth-btn {
  background-color: transparent;
  border: 1px solid #007BFF;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: 500;
  color: #007BFF;
  cursor: pointer;
  transition: 0.3s;
}

.auth-btn:hover {
  background-color: #007BFF;
  color: white;
}

.campaign-btn {
  background-color: #007BFF;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.campaign-btn:hover {
  opacity: 0.9;
}
